.chosenItems {
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item_info {
    padding-left: 20px;
}

.item_info > button {
    background: orange;
    border: 2px solid;
    margin-top: 10px;
    color: black;
}

.item_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.item_rating {
    display: flex;
}

.item_title{
    font-size: 17px;
    font-weight: 800;
}