.payment-background {
    background-color: white;
}

.payment-container > h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: white;
    border-bottom: 1px solid blue;
}

.payment-container > h1 a {
    text-decoration: none;
}

.payment-area {
    display: flex;
    padding: 20px;
}