.payment-background {
    background-color: white;
}

.payment-container > h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: whitesmoke;
    border-bottom: 1px solid blue;
}

.payment-container > h1 a {
    text-decoration: none;
}

.payment-area {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid gray;
}

.title {
    flex: 20%;
}

.address, .chosen-items, .card-details {
    flex: 80%;
}